@import "tailwindcss";

@font-face {
  font-family: "Space Grotesk";
  src: url("../fonts/SpaceGrotesk-VariableFont_wght.ttf");
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

body {
  scroll-behavior: smooth;
  background-color: var(--color-background);
  font-family: "Space Grotesk", sans-serif;
}

::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

* {
  -ms-overflow-style: none; /* IE va Edge */
  scrollbar-width: none; /* Firefox */
}

@theme static {
  --font-sans: "Space Grotesk", sans-serif;

  --color-background: black;
  --color-button: #ffffff;
  --color-icon: #000;
  --color-text: #000;
}

.dark-mode {
  --color-background: white;
  --color-button: #000;
  --color-icon: #ffff;
  --color-text: #ffff;
}
