@import "tailwindcss";

body {
  scroll-behavior: smooth;
  background-color: black;
}

/* Barcha scrollbarga taalluqli */
::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

* {
  -ms-overflow-style: none; /* IE va Edge */
  scrollbar-width: none; /* Firefox */
}

@theme static {
  --font-sans: "Public Sans", sans-serif;

  --color-primary: #2563eb;
  --color-primary-hover: #00000;
}
